<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016 Haruumi Yoshino. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string></string>
	<key>NH3DMaterials</key>
	<dict>
		<key>NO_COLOR</key>
		<dict>
			<key>Ambient</key>
			<array>
				<real>0.5</real>
				<real>0.5</real>
				<real>0.5</real>
				<integer>1</integer>
			</array>
			<key>Diffuse</key>
			<array>
				<real>0.5</real>
				<real>0.5</real>
				<real>0.5</real>
				<integer>1</integer>
			</array>
			<key>Specular</key>
			<array>
				<real>0.5</real>
				<real>0.5</real>
				<real>1.5</real>
				<integer>1</integer>
			</array>
			<key>Emission</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>Shininess</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>NH3DModelGroups</key>
	<dict>
		<key>Humanoids</key>
		<dict>
			<key>Offset</key>
			<string>GLYPH_MON_OFF</string>
			<key>Exclusions</key>
			<array>
				<dict>
					<key>Model</key>
					<string>lowerH</string>
					<key>Textured</key>
					<false/>
					<key>Glyph</key>
					<string>PM_DWARF_KING</string>
					<key>Children</key>
					<array>
						<dict>
							<key>Pivot</key>
							<array>
								<real>0</real>
								<real>0.2</real>
								<real>-0.21</real>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
